<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title !== 'undefined' ? title : 'Default Title' %></title>
    <link href="/css/app.css" rel="stylesheet" />
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="/node_modules/flatpickr/dist/flatpickr.min.css"
    />
    <script src="/node_modules/flatpickr/dist/flatpickr.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="/js/index.js"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <div x-data="{ activePage: '<%= activePage %>' }">
      <%- include('components/header', { activePage: activePage }) %>
      <main class="flex-grow container mx-auto p-4"><%- body %></main>
      <%- include('components/footer') %>
    </div>
  </body>
</html>
