<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presensi</title>
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="/node_modules/flatpickr/dist/flatpickr.min.css"
    />
    <link rel="stylesheet" href="/views/src/css/app.css" />
    <script src="/node_modules/flatpickr/dist/flatpickr.js"></script>
    <script src="/views/src/js/index.js"></script>
  </head>
  <body>
    <h1>Presensi</h1>
    <table id="presensiTable">
      <thead>
        <tr>
          <th>Nomor</th>
          <th>Nama</th>
          <th>Check-In</th>
          <th>Check-Out</th>
        </tr>
      </thead>
      <tbody>
        <% presensi.forEach((presensi, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <a href="<%= presensi.socialMedia %>" target="_blank"
              ><%= presensi.nama %></a
            >
          </td>
          <td><%= presensi.checkin %></td>
          <td><%= presensi.checkout %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <form action="/presensi" method="POST">
      <input type="text" name="nama" placeholder="Nama" required />
      <input
        type="text"
        id="checkin"
        name="checkin"
        placeholder="Check-In"
        required
      />
      <input
        type="text"
        id="checkout"
        name="checkout"
        placeholder="Check-Out"
        required
      />
      <input
        type="text"
        name="socialMedia"
        placeholder="Link Sosial Media"
        required
      />
      <button type="submit">Tambah Presensi</button>
    </form>
  </body>
</html>
