<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presensi</title>
    <link href="/css/app.css" rel="stylesheet" />
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="/node_modules/flatpickr/dist/flatpickr.min.css"
    />
    <script src="/node_modules/flatpickr/dist/flatpickr.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold text-center mb-4">Presensi</h1>
      <table
        id="presensiTable"
        class="w-full table-auto bg-white shadow-md rounded-lg"
      >
        <thead>
          <tr class="bg-gray-200 text-left">
            <th class="px-4 py-2">Nomor</th>
            <th class="px-4 py-2">Nama</th>
            <th class="px-4 py-2">Check-In</th>
            <th class="px-4 py-2">Check-Out</th>
          </tr>
        </thead>
        <tbody>
          <% presensi.forEach((item, index) => { %>
          <tr class="border-b">
            <td class="px-4 py-2"><%= index + 1 %></td>
            <td class="px-4 py-2">
              <a
                href="<%= item.socialMedia %>"
                target="_blank"
                class="text-dark-blue hover:text-light-blue"
                ><%= item.nama %></a
              >
            </td>
            <td class="px-4 py-2"><%= item.checkin %></td>
            <td class="px-4 py-2"><%= item.checkout %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <form
        action="/"
        method="POST"
        class="mt-4 bg-white p-4 shadow-md rounded-lg"
      >
        <div class="mb-4">
          <input
            type="text"
            name="nama"
            placeholder="Nama"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div class="mb-4">
          <input
            type="text"
            id="checkin"
            name="checkin"
            placeholder="Check-In"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div class="mb-4">
          <input
            type="text"
            id="checkout"
            name="checkout"
            placeholder="Check-Out"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div class="mb-4">
          <input
            type="text"
            name="socialMedia"
            placeholder="Link Sosial Media"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <button
          type="submit"
          class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700"
        >
          Tambah Presensi
        </button>
      </form>
    </div>
  </body>
</html>
